<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>Servlets.log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLog</servlet-name>
        <servlet-class>Servlets.isLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Servlets.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutNote</servlet-name>
        <servlet-class>Servlets.ajoutNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutParcours</servlet-name>
        <servlet-class>Servlets.ajoutParcours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mesnotes</servlet-name>
        <servlet-class>Servlets.mesnotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rmNote</servlet-name>
        <servlet-class>Servlets.rmNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNotes</servlet-name>
        <servlet-class>Servlets.getNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valideParcours</servlet-name>
        <servlet-class>Servlets.valideParcours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getParcours</servlet-name>
        <servlet-class>Servlets.getParcours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteParcours</servlet-name>
        <servlet-class>Servlets.deleteParcours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateNote</servlet-name>
        <servlet-class>Servlets.updateNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/servlet/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLog</servlet-name>
        <url-pattern>/servlet/isLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/servlet/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutNote</servlet-name>
        <url-pattern>/servlet/ajoutNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/servlet/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutParcours</servlet-name>
        <url-pattern>/servlet/ajoutParcours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mesnotes</servlet-name>
        <url-pattern>/mesnotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmNote</servlet-name>
        <url-pattern>/servlet/rmNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNotes</servlet-name>
        <url-pattern>/servlet/getNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valideParcours</servlet-name>
        <url-pattern>/servlet/valideParcours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getParcours</servlet-name>
        <url-pattern>/servlet/getParcours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteParcours</servlet-name>
        <url-pattern>/servlet/deleteParcours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateNote</servlet-name>
        <url-pattern>/servlet/updateNote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
